* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}
ul,
h1,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
  font-weight: 1500;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  padding: 7px 24px;
  border-radius: 8px;
  background: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  font-weight: bold;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 80px;
  padding-top: 12px;
  padding-bottom: 124px;
}

.hero-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  width: 500px;
}
.header-links {
  width: 500px;
}

.hero-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
}

.hero-placeholder {
  width: 550px;
  height: 250px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px;
  border-radius: 4px;
}

.hero-placeholder img {
  width: 100%;
  height: 100%;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 500px;
  height: 200px;
}

.information {
  text-align: center;
  padding: 24px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
  height: 300px;
  margin-bottom: 64px;
}

.info {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.square {
  border: 5px solid #3882f6;
  height: 165px;
  border-radius: 15px;
}
.text {
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 112px 380px 96px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 0;
  font-style: italic;
}

.quote-name {
  font-size: 24px;
  font-weight: 900;
  align-self: flex-end;
}

.call-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-container {
  width: 964px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #e5e7eb;
  background-color: #3882f6;
  display: flex;
  border-radius: 5px;
  margin: 86px 0;
}

.top-text {
  font-weight: 900;
  font-size: 20px;
}

.call-button button {
  border: 2px solid #e5e7eb;
}

.footer {
  height: 82px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
