html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    padding: 24px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.header-section {
    width: 1240px;
    display: flex;
    justify-content: space-between;
}

.menu-links {
    display: flex;
    gap: 28px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.link a {
    color: #f9faf8;
}

.banner {
    padding: 0 20px;
    background-color: #1f2937;
    color: #f9faf8;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-row {
    width: 1240px;
    display: flex;
    justify-content: space-between;
}
.banner-text-column {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.banner-title {
    font-size: 48px;
    font-weight: 900;
}
.banner-info {
    font-size: 18px;
    font-weight: lighter;
}

.banner-image-column {
    background-color: gray;
    height: 300px;
    flex: 0 1 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-signup-button,
.action-signup-button {
    background-color: #3882f6;
    color: white;
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 100px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 50px;
}

.cards-container {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-image-placeholder {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.card-text {
    text-align: center;
    width: 200px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}

.quote-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 900px;
    gap: 15px;
}

.quote-text {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.quote-name {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
}

.action-container {
    width: 1000px;
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 20px;
}
.action-signup-button {
    border: 1px solid white;
    flex-shrink: 0;
}

.action-heading {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #1f2937;
    color: #f9faf8;
}
